body {
    background-color: white;
}

nav {
    margin-bottom: 15px;
}

.card-img {
    height: 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.card, .card-img, .card-author, .card-created_at-date, .card-updated_at-date,.card-text {
    margin-bottom: 10px;

}

.card-img.card-img_max {
    height: 639px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-header{
    display: flex;
    justify-content: space-between;
}
.card-button,.card-button form
{

    display: flex;
    margin-right: 10px;
}
.card-button a
{
    text-align: center;
    margin-right: 10px;
}
.col-6
{
    padding-right: 0;
}
#sticky-footer {
    width: 100%;
    margin-top: 400px;
}
